body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;

}
.left-side {
  width: 30vw;
}
.left {
  width: 70%;
  margin: auto;
  height: 60vh;
  margin: 70px;
}
.design-odd {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  clear: both;
  opacity: 0.5;
  cursor: pointer;
}
.design-even {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  clear: both;
  opacity: 0.5;
  cursor: pointer;
}
.middle {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
}

span {
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.right-left {
  display: flex;
  align-items: center;
}
.details h2 {
  text-align: center;
  color: white;
}
.details p {
  line-height: 1px;
  color: gray;
}
.image-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container h3 {
  line-height: 0px;
}
.card {
  display: flex;
  gap: 15px;
  width: 80%;
  margin: auto;
  background-color: aliceblue;
  border-radius: 5px;
}

.card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgb(134, 134, 9);
  border-style: dashed;
}
.card button {
  all: unset;
}
.btn {
  background-color: rgb(37, 151, 37);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.right-side {
  width: 30vw;
}
